body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0;
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 10vh;    
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around
}
.info ul li {
    display: flex;
    width: 100px;
}
.hero {
    display: flex;
    padding-left: 115px;
    padding-right: 115px;
}

.hero-image {
    max-width: 50%;
    height: auto;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hero-column h2 {
    font-size: 48px;
    font-weight: bold;
}
.hero-column p {
    font-size: 18px;
}
.info {
    display: flex;
    justify-content: center;
    
}

.pic {
    max-height: 150px;
    max-width: 150px;
    border: 3px #1F2937;
    
}

.caption {
    display: flex;
    text-align: center;
    padding-right: 100px;
}


.quote {
    max-width: 400px;
}

.quote h3 {
    display: flex;
    justify-content: flex-end;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: white;
}
.footer {
    margin-bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}